*{
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background: #00ecb9;
  height: 500px;
}

h1 {
  margin: 15px auto;
  text-align: center;
  font-weight: bold;
  color: #00816a
}

.roct {
  color: #01352b
}

.roct-img {
  width: 30px;

}

.container {
  margin-top: 90px;
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: center;
  
}

.background {
  display: flex;
  width: 60px;
  height: 70px;
  background: #00816a;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
  border-radius: 3px;
  box-shadow: 5px 5px 20px #00816a;
}

.container-numero {
  display: flex;
  flex-wrap: wrap;
  background-color: #00bf96;
  width: 105px;
  height: 120px;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
}

.rodape {
  text-align: center;
  margin: 340px auto;
  color: #00816a;
  font-weight: bold;
}